@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

.container{
    /* background-color: rgb(255, 255, 255); */

    /* border: 2px black solid; */
}
.logo a{
    margin: 0px;
    padding: 0px;
    width: 300px;
    height: 50px;
    flex:2; 
}
.header-line{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: rgb(200, 242, 228); */
    border-bottom: 1px solid #000;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.nav a:hover{
opacity: 0.6;

}
.nav-bar{
    font-family: 'Roboto';
    font-weight: 500;
    margin-right: 65px;
    font-size: 25px;
    color: black;

    transition: color 0.1s linear;
}

.nav-bar:hover{
    color: #c60303;
}

/* =================Shop============== */

:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
  }
  
 
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }

  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #000000;
  }
  
  .card__tagline {
    display: block;
    /* margin: 1em 0; */
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #000000;  
  }
  
  .card__status {
    font-size: .8em;
    color: #000000;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #000000;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }   
  .cards-shop h1{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
  }

 
/* =========================Button=================== */
 button{
    border-style: none;
 }
.btn{
    /* background-color: rgb(252, 223, 1); */
    font-size: 30px;
    color: #000000;
    border-radius: 10px;

  }
  .card_button{
    background-color: rgb(17, 255, 0);
    border-radius: 10px;

    transition: color 0.1s linear;
  }
  .card_button:hover{
    color:rgb(252, 0, 0);
    opacity: 0.9;
    background-color: rgb(16, 208, 2);


  }
  /* ========================footer=============== */
  footer{
    margin: 0px;
    background: linear-gradient(to right, #F64D4D 0%,#4D5EF6 100%)
    
    
  }
  footer .logo{
    margin-top: 20px;
  }
  .trade h2{
    text-align: center;
    padding-bottom: 20px;
    
  }
  ul{
    list-style-type:none;
  }
  .trade__icon{
    display: flex;
    justify-content: center;
    
  }
  .trade__icon li{
    margin-right: 40px;
  }