@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&family=Roboto:ital,wght@0,300;0,400;0,500;1,300&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@font-face {
  font-family: 'Better Together';
  src: url('fonts/ofont.ru_Better Together.ttf');
}
@font-face {
  font-family: "Laser Plain";
  src: url('fonts/ofont.ru_Laser Plain.ttf');
}
@font-face {
  font-family: "Meamury";
  src: url('fonts/ofont.ru_Meamury.ttf');
}
@font-face {
  font-family: "Porcelain";
  src: url('fonts/ofont.ru_Porcelain.ttf');
}
@font-face {
  font-family:"Rosalinda" ;
  src: url('fonts/ofont.ru_Rosalinda.ttf');
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

.container {
  max-width: 1900px;
  
	
	padding-bottom: 90px;
}
@media(max-width:1800px) {
  .container {
    max-width: 970px;
  }
}

@media(max-width:990px) {
  .container {
    max-width: 750px;
  }
}

@media(max-width:767px) {
  .container {
    max-width: none;
  }

}
.logo img{ 
  max-width: 100%;
  display: block;
}

.logo a {
  margin: 0px;
  padding: 0px;
  width: 300px;
  height: 50px;
  flex: 2;
}

.header-line {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to top, #91a8f3a9 0%, #ffe677f0 100%);
  /* border-bottom: 1px solid #000; */
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;

}

.nav a:hover {
  opacity: 0.6;

}

.nav-bar {
  font-family: 'Roboto';
  font-weight: 500;
  margin-right: 65px;
	margin-bottom: 30px;
	padding: 30px;
  font-size: 25px;
  color: rgb(0, 0, 0);

  transition: color 0.1s linear;
}


.nav-bar:hover {
  color: #c60303;
}
/* ======================MOD wind================ */
#zatemnenie {
  background: rgba(184, 184, 184, 0.729);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 999;
}
#okno a{
  color: rgb(9, 9, 9);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 25px;
  
}
#okno {
  width: 500px;
  height: 20px;
  text-align: center;
  padding: 0px;
  /* border: 3px solid #0000cc; */
  border-radius: 10px;
  color: #000000;
  position: absolute;
  top: -960px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* background: #fff; */
  z-index: 999;
}
#zatemnenie:target {display: block;}
.close {
  display: inline-block;
  /* border: 1px solid #0000cc; */
  border-radius: 20px;
  color: #000000;
  padding: 15px 18px;
  margin: 10px;
  text-decoration: none;
  background: #ffb3b3b3;
  font-size: 20px;
  cursor:pointer;
}
.close:hover {background: #e6e6ff;}

/* ==========main============ */
.info h1{
  font-family: 'Marck Script', cursive;
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;

}
.info p{
  font-family: 'Marck Script', cursive;
  font-size: 30px;
  line-height: 60px;
  text-align: center;

}
/* =================Shop============== */

:root {
  --surface-color: rgb(232, 230, 230);
  --curve: 40;
}

* {
  box-sizing: border-box;
}



.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}


.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .4s ease-in-out;
  opacity: 0.9;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 2px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .4s ease-in-out;
  opacity: 0.9;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 80%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #000000;
}

.card__tagline {
  display: block;
  /* margin: 1em 0; */
  font-family: 'Roboto';
  font-size: .8em;
  color: #000000;
}

.card__status {
  font-size: .8em;
  color: #000000;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #000000;
  font-family: 'Roboto';
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.cards-shop h2 {
  font-family: "Rosalinda";
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
}


/* =========================Button=================== */
button {
  border-style: none;
}

.btn {
  /* background-color: rgb(252, 223, 1); */
  font-size: 30px;
  color: #000000;
  border-radius: 10px;

}

.card_button {
  background-color: rgb(19, 169, 8);
  border-radius: 10px;

  transition: color 0.1s linear;
}

.card_button:hover {
  color: rgb(33, 33, 33);
  opacity: 0.9;
  background-color: rgb(16, 208, 2);


}

/* ========================footer=============== */
footer {
    height: 80px;
    margin-top: -80px;
  }


footer .container {
  margin: 0px;
  background: linear-gradient(to bottom, #b6c4f9b2 0%, #e4cd69e0 100%)
}

footer .logo {
  margin-top: 20px;
}

.trade h2 {
  text-align: center;
  padding-bottom: 20px;

}

ul {
  list-style-type: none;
}

.trade__icon {
  display: flex;
  justify-content: center;

}

.trade__icon li {
  margin-right: 40px;
}
